<div class="w-screen h-screen max-w-full bg-white p-8">
  <div class="w-full h-full bg-[#CEDDFF] flex flex-col items-center justify-center">
    <img alt="success" src="/icons/email-icon.svg" style="filter: drop-shadow(white 1px 1px 0px) drop-shadow(white -1px -1px 0px);">
    <h1 class="text-[#002F34] font-bold text-[40px] leading-[42px] tracking-[0.5px] text-center mt-6 mb-1.5 mx-4">
      Перевірте ваш email
    </h1>
    <p class="text-[#002F34] font-normal text-[18px] leading-[24px] text-center my-4 max-w-[70%]">
      Перейдіть за посиланням, яке ми надіслали вам на електронну пошту
    </p>
    <a href="/" class="bg-transparent border-none rounded-[4px] font-bold text-[#002F34] text-[16px] leading-[20px] tracking-[0.7px] cursor-pointer h-12 px-0 flex items-center justify-center">
      <span class="flex items-center justify-center">
        На головну
      </span>
    </a>
  </div>
</div>
