<section class="relative flex items-center justify-center w-full h-screen overflow-hidden bg-[#3A77FF] section-circle">
  <div class="p-6 z-10 w-full max-w-[400px] inline-block self-center mb-6 bg-white rounded-lg">
    <div class="flex flex-col">
      <form id="forgot-password-form" class="flex flex-col">
        <div class="w-full max-w-full">
          <div class="flex flex-wrap items-center h-14 gap-4">
            <a href="/login" class="px-1 m-0 bg-none border-none cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px" class="text-[#002F34]">
                <path fill="currentColor" fill-rule="evenodd" d="m15.547 2-1.305 1.27L6 11.293v1.414l8.242 8.022L15.547 22H17v-1.414l-1.305-1.271L8.18 12l7.515-7.316L17 3.414V2z"></path>
              </svg>
            </a>
          </div>
          <div class="block gap-4 pb-4">
            <h1 class="font-bold text-[40px] leading-[42px] tracking-[0.5px] text-[#002F34] m-0 mb-1.5">Забули пароль?</h1>
          </div>
        </div>

        <p class="font-geomanist text-[18px] leading-[24px] font-normal text-[#002F34] my-4">
          Яка електронна пошта зв'язана з вашим профілем OLX?
        </p>

        <div class="box-border">
          <div class="w-full">
            <label for="email" class="text-[#002F34] font-geomanist leading-[1.15] block text-sm mb-2 cursor-auto">
              Куди вам надіслати код?
            </label>
            <div class="relative inline-block w-full">
              <input id="email" name="email" type="email" class="w-full h-12 px-4 pr-12 font-geomanist leading-[1.15] text-base text-[#002F34] bg-[#F2F4F5] border-b-2 border-transparent rounded focus:outline-none focus:border-[#002F34]"/>
            </div>
          </div>
        </div>

        <button type="submit" class="flex items-center justify-center h-12 px-8 mt-4 mb-0 text-base font-bold leading-[20px] tracking-[0.7px] text-white bg-[#002F34] border-none rounded cursor-pointer">Змінити</button>
      </form>
    </div>
  </div>
</section>

<script src="/js/forgot-password.js"></script>