<section class="relative flex items-center justify-center w-full h-screen overflow-hidden bg-[#3A77FF] section-circle">
  <div class="p-6 z-10 w-full max-w-[400px] inline-block self-center mb-6 bg-white rounded-lg">
    <div class="flex flex-col">
      <form id="reset-password-form" method="post" class="flex flex-col">
        <div class="w-full box-border text-[16px] font-sans leading-[1.15]">
          <div class="block pb-4 box-border font-sans leading-[1.15] flex-wrap gap-4">
            <h1 class="text-[#002F34] font-bold text-[40px] leading-[42px] tracking-[0.5px] m-0 mb-1.5">
              Встановити новий пароль
            </h1>
          </div>
        </div>

        <input type="hidden" name="token" value="{{token}}"/>

        <div class="w-full">
          <label for="password" class="block mb-2 text-sm text-[#002F34]">Введіть новий пароль</label>
          <div class="relative inline-block w-full">
            <input autocomplete="off" id="password" name="password" type="password" class="w-full h-12 px-4 pr-12 text-base text-[#002F34] bg-[#F2F4F5] border-b-2 border-transparent rounded focus:outline-none focus:border-[#002F34]" value="">
            <div class="absolute right-4 top-1/2 flex items-center transform -translate-y-1/2 pointer-events-none">
              <div class="cursor-pointer h-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="h-6 w-6 text-[#406367]">
                  <path fill="currentColor" fill-rule="evenodd" d="M9.042 12a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm2 0c0 .551.449 1 1 1 .55 0 1-.449 1-1 0-.551-.45-1-1-1-.551 0-1 .449-1 1Z" clip-rule="evenodd"></path>
                  <path fill="currentColor" fill-rule="evenodd" d="M2 12c1.29-4.047 5.295-7 10.042-7s8.75 2.953 10.042 7c-1.291 4.047-5.295 7-10.042 7S3.29 16.047 2 12Zm2.13 0c1.249 2.974 4.408 5 7.912 5 3.504 0 6.663-2.026 7.912-5-1.25-2.974-4.408-5-7.912-5-3.504 0-6.663 2.026-7.912 5Z" clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
          </div>
          <div id="password-error" class="mt-1 text-xs leading-none text-[#ff5636]"></div>
        </div>

        <div class="pr-6 mt-2">
          <p class="mb-1 text-xs leading-5 font-normal text-gray-800">Ваш пароль має містити:</p>
          <div class="flex items-center">
            <div class="h-4 w-4 mr-1">
              <svg fill="none" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <rect width="14" height="14" rx="8" fill="white"></rect>
                <rect x="2" y="7" width="10" height="2" fill="#7F9799"></rect>
              </svg>
            </div>
            <p id="password-char-count" class="text-xs leading-5 text-gray-800">9 або більше символів</p>
          </div>           
          <div class="mt-1">
            <div class="flex items-center">
              <div class="h-4 w-4 mr-1">
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                  <rect width="14" height="14" rx="8" fill="white"></rect>
                  <rect x="2" y="7" width="10" height="2" fill="#7F9799"></rect>
                </svg>
              </div>
              <p id="password-upper-сhar" class="text-xs leading-5 text-gray-800">Велику літеру</p>
            </div>
          </div>
          <div class="mt-1">
            <div class="flex items-center">
              <div class="h-4 w-4 mr-1">
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                  <rect width="14" height="14" rx="8" fill="white"></rect>
                  <rect x="2" y="7" width="10" height="2" fill="#7F9799"></rect>
                </svg>
              </div>
              <p id="password-lower-сhar" class="text-xs leading-5 text-gray-800">Малу літеру</p>
            </div>
          </div>
          <div class="mt-1">
            <div class="flex items-center">
              <div class="h-4 w-4 mr-1">
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                  <rect width="14" height="14" rx="8" fill="white"></rect>
                  <rect x="2" y="7" width="10" height="2" fill="#7F9799"></rect>
                </svg>
              </div>
              <p id="password-digit" class="text-xs leading-5 text-gray-800">Мінімум одну цифру</p>
            </div>
          </div>
        </div>

        <button type="submit" class="flex items-center justify-center h-12 px-8 mt-8 mb-0 text-base font-bold leading-[20px] tracking-[0.7px] text-white bg-[#002F34] border-none rounded cursor-pointer">Підтвердіть новий пароль</button>
      </form>
    </div>
  </div>
</section>

<script src="/js/reset-password-validation.js"></script>