<div class="flex items-center justify-center h-screen bg-white p-8">
  <div class="flex flex-col items-center justify-center h-full w-full bg-[#c8f8f6]">
    <img alt="success" src="/icons/confirmation-icon.svg">
    <h1 class="text-[40px] font-bold text-center text-[#002F34] mt-6 mb-1 leading-[42px]">
      Ваш пароль змінено
    </h1>
    <p class="text-[18px] font-normal text-center text-[#002F34] mt-6 mb-4 max-w-[70%]">
      Для входу скористайтеся вашим новим паролем.
    </p>
    <a href="/login" class="font-bold text-[16px] text-[#002F34] tracking-[0.7px] py-2 px-4 rounded">
      <span class="flex items-center justify-center">
        <span>Увійти</span>
      </span>
    </a>
  </div>
</div>
