<header class="fixed top-0 left-0 right-0 z-30 bg-[#002F34]">
  <div class="max-w-[1270px] h-[72px] mx-auto flex items-center justify-between px-4 box-border">
    <a href="/" class="flex items-center cursor-pointer">
      <img src="/images/olx-logo.svg" class="w-[71px] h-[41px] relative block" />
    </a>

    <div class="flex items-center font-geomanist antialiased box-border">
      <a href="/profile-notifications" class="flex items-center mr-10 text-white cursor-pointer no-underline">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 text-current">
          <path fill="currentColor" d="M11 4.01c-3.86 0-7 3.157-7 7.038v8.426l2.553-1.283.447-.106h6c3.86 0 7-3.157 7-7.037S16.86 4.01 13 4.01h-2zM3.447 22 2 21.1V11.049C2 6.058 6.037 2 11 2h2c4.962 0 9 4.059 9 9.048s-4.038 9.047-9 9.047H7.236L3.448 22z"></path>
        </svg>
        <span class="ml-4 mt-[1px] text-base font-semibold">Повідомлення</span>
      </a>

      <a href="/favorites/search" class="mr-10 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 text-white">
          <path fill="currentColor" d="M20.219 10.367 12 20.419 3.806 10.4A3.96 3.96 0 0 1 3 8c0-2.206 1.795-4 4-4a4.004 4.004 0 0 1 3.868 3h2.264A4.003 4.003 0 0 1 17 4c2.206 0 4 1.794 4 4 0 .868-.279 1.698-.781 2.367M17 2a5.999 5.999 0 0 0-5 2.686A5.999 5.999 0 0 0 7 2C3.692 2 1 4.691 1 8a5.97 5.97 0 0 0 1.232 3.633L10.71 22h2.582l8.501-10.399A5.943 5.943 0 0 0 23 8c0-3.309-2.692-6-6-6"></path>
        </svg>
      </a>

      <a href="/" class="mr-10 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 text-white">
          <path fill="currentColor" d="M17.493 18.207H7.215c-.02-2.075-.063-6.598-.063-6.831 0-2.816 2.334-5.108 5.203-5.108 2.87 0 5.202 2.292 5.202 5.108 0 .236-.043 4.757-.064 6.83zm2.086-.362c.022-2.203.049-6.286.049-6.47 0-3.34-2.329-6.147-5.466-6.944a1.83 1.83 0 0 0 .087-.537 1.894 1.894 0 0 0-3.788 0c0 .188.035.365.087.537-3.137.796-5.466 3.603-5.466 6.945 0 .182.027 4.302.048 6.513L3 18.752l.022 1.525h7.457A1.888 1.888 0 0 0 12.355 22c.988 0 1.789-.759 1.877-1.723h7.384l.042-1.523-2.079-.91z"></path>
        </svg>
      </a>

      <a href="/profile-advertisements" class="flex items-center mr-10 text-white text-base font-semibold cursor-pointer no-underline">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 mr-3">
          <path fill="currentColor" d="M12 12c4.963 0 9 4.038 9 9l-1 1H4l-1-1c0-4.962 4.037-9 9-9zm0 2c-3.52 0-6.442 2.613-6.929 6H18.93c-.487-3.387-3.409-6-6.93-6zm0-12c2.481 0 4.5 2.019 4.5 4.5 0 2.482-2.019 4.5-4.5 4.5a4.505 4.505 0 0 1-4.5-4.5C7.5 4.019 9.519 2 12 2zm0 2a2.503 2.503 0 0 0-2.5 2.5C9.5 7.878 10.621 9 12 9s2.5-1.122 2.5-2.5S13.379 4 12 4z"></path>
        </svg>
        Ваш профіль
      </a>

      <a href="/post-advertisement" class="inline-flex items-center justify-center px-5 py-3 text-base font-bold text-[#002F34] bg-white border-5 border-white rounded font-geomanist">
        Додати оголошення
      </a>
    </div>
  </div>
</header>
