<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>{{title}}</title>
  </head>
  <body>
    {{#if showNavbar}}
      {{>navbar}}
    {{/if}}
    <main>
      {{{body}}}
    </main>
  </body>
</html>